.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-header {
    background-color: #2b2b2b;
    font-weight: bold;
    font-size: 1.1rem;
}

.card-body {
    padding: 15px;
}

.graph-container {
    height: 400px;
}

.shadow-sm {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.rounded-lg {
    border-radius: 10px;
}
